<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .header{
            height: 200px;
            display: flex;
        }
        .headerLogo{
            flex: 1 1 200px
        }
        .headerTitle{
            flex: 2 1 600px
        }
        .logoImg{
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="headerLogo"><img src="img/1245.jpeg" alt="사진을 표시할 수 없습니다." class="logoImg"></div>
        <div class="headerTitle"><img src="img/124.jpeg" alt="사진을 표시할 수 없습니다." class="titleImg"></div>
    </div>
</body>
</html>