<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃1</title>
    <style>
        div{
            border: 1px solid black;
        }
        .wrapper{
            width: 800px
        }
        .header{
            height: 200px;
        }
        .body{
            height: 400px;
        }
        .fotter{
            height: 200px;
        }
    </style>
</head>
<body>
    <!-- div : 컨텐츠를 넣지 않으면 공간을 차지 하지 않음-->
    <div class="wrapper">
        <div class="header">
            <div>Logo</div>
            <div>Title</div>
            <div>Reserved</div>
        </div>
        <div class="body">body</div>
        <div class="footer">Footer</div>
    </div>
</body>
</html>